---

---

<div class="sidebar">
  <span class="accent"></span>
  <p>I&apos;m Jesty, a fullstack software developer.</p>
  <p>
    Here you can find various side projects I have worked on, and anything else
    I have posted on here.
  </p>

  <p class="sideheader">Links:</p>
  <ul>
    <li>
      <a href="https://github.com/Monkeycapers">Github</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/evan-jesty-902189165/">Linkedin</a>
    </li>
  </ul>
</div>

<style>
  .accent {
    display: block;
    width: 100%;
    height: 0.5rem;
    background-color: var(--accent-color);
  }
</style>
